* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-wrapper {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1394px;
  padding: 0 77px;
}

.header {
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
  line-height: 25px;
  margin: 0;
}

.wrapper {
  display: flex;
  margin: 44px 0;
}

.scarecrow__image {
  width: 90%;
  height: auto;
}

.info,
.scarecrow {
  flex: 1 1 50%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.info__header {
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333333;
  margin: 0;
}

.info__text {
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  max-width: 380px;
}

.btn {
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #333333;
  padding: 23px 43px;
}

.copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .wrapper {
    flex-direction: column;
  }

  .info__header {
    font-size: 48px;
  }

  .main-wrapper {
    padding: 0 24px;
  }

  .info__text {
    font-size: 18px;
  }
}
